@model mynb.Models.About

@{
    ViewBag.Title = "About";
}

<style type="text/css">
    #about {
        width: 43%;
        background: #cac376            
    }
</style>
<h2>@Model.Name</h2>
<div id='about'>
 <p>@Model.Text</p></div>


